<div class="jumbotron">
    <h1>My Sample Application</h1>
    <p class="lead">This na just sample page oo..</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

